/*



*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper{
    width: 850px;
    margin: 0px auto;
}

.header{
    height: 400px;
    position: relative;
    top: 40px;
    left: 30px;
    background-color: blue;
}

.header-bg{
    height: 55px;
    background-color: gray;
    border: 1px solid yellow;
    position: relative;
    top: 400px;
}

.profile-heading{
position: relative;
top: 370px;
left: 500px;
word-spacing: 8px;
}

.name-heading{
position: relative;
top: 200px;
left: 250px;
word-spacing: 5px;
}

.h .profile-heading div{
display: inline-block;
font-family: 'Times New Roman', Times, serif;
color: tomato;
position: relative;
}