/*



*/
body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 850px;  
    
}

.fb-profile-block-menu {
	border: 1px solid #d3d6db;
	border-radius: 0 0 3px 3px;
	height: 44px;
  position: relative;
  width:850px;
  
}

.block-menu {
	clear: right;
	padding-left: 205px;
  }
  .block-menu ul{
	  margin:0;
	  padding:0;
	  }
  .block-menu ul li{
	  display:inline-block;
	  }
  .block-menu ul li a {
	border-right: 1px solid #e9eaed;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 42px;
	line-height: 3.0;
	padding: 0 17px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	color:#4b4f56;
	text-transform:capitalize;
  }
  .block-menu ul li:first-child a{
		border-left: 1px solid #e9eaed;
	  }

.btn{
	position: relative;
	top: -125px;
	left: 445px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
	font-weight: 700;
	font: size 16px;
	
	
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
.gedf-wrapper {
	margin-top: 0.97rem;
}

@media (min-width: 992px) {
	.gedf-main {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.gedf-card {
		margin-bottom: 2.77rem;
	}
}



}